:root {
    --main: #35495e;
    --main-darker: rgb(from var(--main) r g b / 80%);
    --sec: #41b883;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
body {
    font-family: "Raleway", sans-serif;
}
li {
    font-size: 16px;
}
li + li {
    margin-top: 0.5rem;
}
.freeze {
    overflow-y: hidden;
}

.btn,
.btn--wrap {
    display: inline-block;
    border: none;
    cursor: pointer;
    background: var(--main);
    font-family: "Neutra", "Trebuchet MS", Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
        0 3px 1px -1px rgba(0, 0, 0, 0.2);
    line-height: 1;
    padding: 6px 12px;
    outline: 0;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px;
    text-decoration: none;
}

@media (max-width: 1024px) {
    .btn,
    .btn--wrap {
        text-align: center;
    }
}

.topbar--wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--sec);
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    height: 30px;
    padding: 0 15px;
}

.topbar--wrap .icona {
    margin-right: 5px;
}

.topbar--wrap .icona svg {
    fill: #fff;
}

.topbar--lang {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.topbar--lang:hover {
    opacity: 0.8;
}

.topbar--portal {
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.topbar--portal a {
    margin-right: 10px;
}

.topbar--portal a:hover {
    opacity: 0.8;
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 8000;
}
.menu--wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background: #fff;
}

.menu--logowrap {
    flex: 1;
    padding-left: 15px;
}

.menu--logo img {
    display: inline-block;
    width: 75px;
    height: auto;
}

.nav--desktop {
    display: none;
    transition: opacity 250ms ease;
}

@media (min-width: 769px) {
    .nav--desktop {
        display: block;
    }
}
.nav--btn {
    display: none;
    position: absolute;
    top: 16px;
    right: 16px;
    overflow: hidden;
    vertical-align: middle;
    width: 43px;
    height: 43px;
    background: transparent;
    text-align: center;
    padding: 0.3rem 0;
    font-size: 0;
    cursor: pointer;
    z-index: 8500;
    transition: right, background 250ms ease;
}

@media (max-width: 768px) {
    .nav--btn {
        display: inline-block;
    }
}

.nav--btn:before {
    font-size: 2rem;
    color: #fff;
}

.nav--btn:focus {
    outline: none;
}

.nav--btn span {
    display: block;
    position: absolute;
    top: 18px;
    left: 25%;
    right: 25%;
    height: 5px;
    background: var(--main);
}

.nav--btn span:after,
.nav--btn span:before {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--main);
    content: "";
}

.nav--btn span:after {
    bottom: -8px;
}

.nav--btn span:before {
    top: -8px;
}

.hamburger span {
    transition: background 0ms 250ms;
    -moz-transition: background 0ms 250ms;
    -webkit-transition: background 0ms 250ms;
}

.hamburger span:before,
.hamburger span:after {
    transition-duration: 250ms, 250ms;
    -moz-transition-duration: 250ms, 250ms;
    -webkit-transition-duration: 250ms, 250ms;
    transition-delay: 250ms, 0ms;
    -moz-transition-delay: 250ms, 0ms;
    -webkit-transition-delay: 250ms, 0ms;
}

.hamburger span:before {
    transition-property: top, transform;
    -moz-transition-property: top, transform;
    -webkit-transition-property: top, transform;
}

.hamburger span:after {
    transition-property: bottom, transform;
    -moz-transition-property: bottom, transform;
    -webkit-transition-property: bottom, transform;
}

.hamburger.active span {
    background: none;
}

.hamburger.active span:before,
.hamburger.active span:after {
    transition-delay: 0ms, 250ms;
    -moz-transition-delay: 0ms, 250ms;
    -webkit-transition-delay: 0ms, 250ms;
}

.hamburger.active span:before {
    top: 0;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.hamburger.active span:after {
    bottom: 0;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.subnav--trayProducts {
    position: fixed;
    z-index: 6000;
    background: var(--main);
    color: #fff;
    top: calc(30px + 70px);
    left: 0;
    width: 100%;
    height: 43px;
}

.subnav--trayProducts.conLangBar {
    top: calc(30px + 70px + 71px);
}

.subnav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 6000;
    transition: top 250ms ease;
}

.subnav--wrap {
    position: relative;
    background: var(--main);
    color: #fff;
}

.subnav--layout {
    display: flex;
    align-items: stretch;
    overflow-x: auto;
}

@media (min-width: 1024px) {
    .subnav--layout {
        max-width: 1200px;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) and (max-width: 1300px) {
    .subnav--layout {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.subnav--item {
    flex-grow: 1;
    padding: 0 10px;
    white-space: nowrap;
    font-size: 14px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    text-decoration: none;
}

.subnav--item:hover {
    background: var(--sec);
    color: #fff;
    text-shadow: 0 0 1px #fff;
    cursor: pointer;
}

@media (min-width: 768px) {
    .subnav--item {
        font-size: 16px;
    }
}

.subnav--item__on {
    background: #fff;
    color: var(--sec);
    font-weight: bold;
}

.subnav--item__on:hover {
    background: #fff;
    color: var(--sec);
    text-shadow: none;
    cursor: pointer;
}

.subnav--tray {
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.subnav--tray .subnav--wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    transition: transform 100ms;
}

@media (min-width: 769px) {
    .subnav--tray__on {
        height: 43px;
    }

    .subnav--tray__on .subnav--wrap {
        transform: translateY(0%);
        transition: transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    }
}

.subnav--wrap__mobile {
    width: 100%;
}

@media (min-width: 769px) {
    .subnav--wrap__mobile {
        display: none;
    }
}

.subnav--layout__mobile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.subnav--item__mobile {
    flex: 1 0 33%;
    font-size: 13px;
    font-weight: 400;
    padding: 5px 0;
    display: inline-block;
    text-align: center;
    text-transform: none;
}

.horizontal--arrow {
    position: absolute;
    top: 0;
    display: none;
    width: 40px;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: var(--main);
    cursor: pointer;
    transition: all 250ms ease;
}

.horizontal--arrow svg {
    fill: #fff;
}

.horizontal--arrow:active {
    background: var(--main-darker);
}

.horizontal--arrow.disabled {
    opacity: 0;
    pointer-events: none;
    cursor: auto;
    box-shadow: none;
}

.horizontal--arrow.arrow__show {
    display: flex;
}
.nav--mobile {
    display: block;
}

@media (min-width: 769px) {
    .nav--mobile {
        display: none;
    }
    .horizontal--arrow.arrow__show {
        display: none;
    }
}

.nav--box {
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: calc(100% - 30px);
    background: #fff;
    border-bottom: 5px solid #b1b1b1;
    padding-top: 70px;
    transition: height 250ms, top 250ms;
    z-index: 7000;
}

.nav--box.opened {
    transition: all 250ms ease-in-out;
    top: 30px;
}

@media (min-width: 769px) {
    .nav--box {
        display: flex;
        position: relative;
        top: 0;
        width: auto;
        height: 70px;
        border-bottom: 0;
        padding-top: 0;
        transition: all 250ms;
        align-items: center;
        justify-content: space-between;
    }
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 20px;
    width: auto;
    height: calc(100% - 63px);
    background: #fff;
    margin-left: auto;
    border-top: 1px solid #eee;
    padding: 5% 0;
}

@media (min-width: 360px) {
    nav {
        height: calc(80% - 63px);
        padding: 20% 0 10% 0;
    }
}

@media (min-width: 769px) {
    nav {
        flex-wrap: nowrap;
        flex-direction: row;
        border-top: 0;
        height: auto;
        padding: 0;
        top: 0px;
    }
}

.nav--item {
    display: block;
    position: relative;
    text-transform: uppercase;
    color: #404040;
    font-weight: bold;
    text-align: center;
    padding: 0 20px 0 20px;
    text-decoration: none;
    /* width: 100%; */
    cursor: pointer;
}

@media (min-width: 769px) {
    .nav--item {
        display: flex;
        font-size: 0.8rem;
        font-weight: 600;
        margin: 0 10px;
        padding: 0;
        line-height: 1.4;
        border-left: 0;
        width: auto;
    }

    .nav--item:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -2px;
        left: 0;
        background-color: var(--sec);
        visibility: hidden;
        transform: scaleX(0);
        transition: all 250ms ease-in-out;
    }

    .nav--item:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }

    .nav--item.current {
        border-bottom: 2px solid var(--sec);
    }

    .nav--item.current:before {
        height: 0;
    }
}

@media (min-width: 1024px) {
    .nav--item {
        font-size: 14px;
        margin: 0 20px;
    }
}

@media (min-width: 1400px) {
    .nav--item {
        font-size: 14px;
        margin: 0 30px;
    }
}

.router-link-exact-active {
    color: var(--sec);
}
.subnav--wrap__mobile {
    width: 100%;
}

@media (min-width: 769px) {
    .subnav--wrap__mobile {
        display: none;
    }
}

.subnav--layout__mobile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.subnav--item__mobile {
    flex: 1 0 33%;
    font-size: 13px;
    font-weight: 400;
    padding: 5px 0;
    display: inline-block;
    text-align: center;
    text-transform: none;
}

footer {
    background: var(--main);
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.5px;
    min-height: 300px;
}

.footer--layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1300px) {
    .footer--layout {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.footer--logo {
    padding-right: 40px;
    margin-bottom: 20px;
    width: 100%;
}

@media (min-width: 768px) {
    .footer--logo {
        margin-bottom: 0;
        width: auto;
    }
}

.footer--logo svg {
    width: 100px;
    height: 49.2753623188px;
    fill: #fff;
}

.footer--content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .footer--content {
        width: auto;
        margin-bottom: 0;
    }
}

.footer--address {
    line-height: 1.4;
    padding-right: 40px;
    margin-bottom: 20px;
    width: 100%;
}

@media (min-width: 480px) {
    .footer--address {
        margin-bottom: 0;
        width: auto;
    }
}

.footer--contact {
    line-height: 1.4;
    width: 100%;
}

@media (min-width: 480px) {
    .footer--contact {
        width: auto;
    }
}

.footer--contact span {
    width: 50px;
    display: inline-block;
}

.footer--social {
    display: flex;
}

@media (min-width: 768px) {
    .footer--social {
        margin-left: auto;
    }
}

.footer--social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.footer--social__item:last-child {
    margin-right: 0;
}

.footer--social__item:hover {
    opacity: 0.8;
}

.footer--social__item svg {
    width: auto;
    height: 24px;
}

.post--footer {
    background: var(--main);
}

.post--footer__layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px 15px 20px;
    color: #fff;
    font-size: 13px;
}

@media (max-width: 1300px) {
    .post--footer__layout {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.post--footer__layout a {
    color: #fff;
    text-decoration: underline;
}

.post--footer__layout hr {
    height: 1px;
    width: 100%;
    background: #fff;
    border: 0;
    margin: 0 0 20px 0;
}

.post--footer__block {
    width: 100%;
    margin-bottom: 10px;
}

.post--footer__block:last-child {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .post--footer__block {
        width: auto;
        margin-bottom: 0;
    }
}

.company--wrap {
    margin-top: 100px;
}
.company--layout {
    max-width: 1200px;
    margin: 0 auto;
}
@media (max-width: 1300px) {
    .company--layout {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.company--img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.company--intro {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 41.6666666667vw;
    background: rgba(0, 0, 0, 0.3);
    flex-direction: column;
}

@media (min-width: 769px) {
    .company--intro {
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 20%,
            rgba(0, 0, 0, 0.26) 40%,
            rgba(0, 0, 0, 0.58) 100%
        );
        flex-direction: row;
    }
}

.company--intro__layout {
    padding: 40px 20px;
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
}

.company--intro__layout.finder {
    background-color: #fff;
    border: 5px solid var(--main);
    border-radius: 10px;
    margin-bottom: 20px;
}

.company--intro__title {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 20px;
}

@media (min-width: 1024px) {
    .company--intro__title {
        font-size: 48px;
        margin-bottom: 40px;
    }
}

.company--intro__title strong {
    color: var(--sec);
}

.company--intro__txt {
    line-height: 1.4;
    color: #fff;
    font-size: 1rem;
}

@media (min-width: 1024px) {
    .company--intro__txt {
        font-size: 22px;
    }
}
.heroSelector--title {
    font-size: 36px;
    line-height: 1;
    color: var(--sec);
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
}
.heroSelector--subtitle {
    font-size: 20px;
    color: #777;
    font-style: italic;
    font-weight: 500;
}

@media (min-width: 768px) {
    .heroSelector--body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.heroSelector--sep {
    display: none;
    padding: 0 20px;
    font-size: 40px;
    color: #ccc;
    align-items: center;
}

@media (min-width: 768px) {
    .heroSelector--sep {
        display: flex;
    }
}

.heroSelector--block {
    position: relative;
    min-width: 100px;
    text-align: center;
    background: linear-gradient(
        to right,
        transparent 0%,
        transparent 50%,
        var(--sec) calc(50% + 1px),
        transparent calc(50% + 1px),
        transparent 100%
    );
}

@media (min-width: 768px) {
    .heroSelector--block {
        background: #fff;
        margin: 0;
        width: 33%;
    }
}

.heroSelector--block select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    height: 100%;
}

.heroSelector--block option {
    font-size: 16px;
}

.heroSelector--block:hover .heroSelector--ghost {
    color: var(--sec);
}

.heroSelector--block {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .heroSelector--block {
        margin-top: 0;
        margin-bottom: 0px;
    }
}

.heroSelector--ghost {
    position: relative;
    border: 0;
    font-family: "Neutra", "Trebuchet MS", Arial, sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    text-transform: uppercase;
    background: #fff;
    pointer-events: none;
    text-align: center;
    width: 100%;
    text-align-last: center;
    padding-bottom: 2px;
    border-bottom: 1px solid #444;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

@media (min-width: 768px) {
    .heroSelector--ghost {
        padding: 0;
        font-size: 30px;
        height: 70px;
    }
}

.heroSelector--fake {
    font-family: "Neutra", "Trebuchet MS", Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #606060;
    margin-bottom: 10px;
    text-align: center;
}

.heroSelector--range__disabled,
.heroSelector--application__disabled {
    pointer-events: none;
}

.heroSelector--range__disabled select,
.heroSelector--application__disabled select {
    color: #ccc;
}

.heroSelector--range__disabled .heroSelector--label,
.heroSelector--application__disabled .heroSelector--label {
    color: #ccc;
}

.heroSelector--range__disabled .heroSelector--ghost,
.heroSelector--application__disabled .heroSelector--ghost {
    color: #ccc;
    border-bottom: 1px solid #ccc;
}

.heroSelector--label {
    font-size: 12px;
    text-transform: uppercase;
    font-style: italic;
    color: var(--sec);
    background: #fff;
    padding: 0 0 10px 0;
}

@media (min-width: 768px) {
    .heroSelector--label {
        padding: 10px 0;
    }
}

.heroSelector--browse {
    text-align: center;
}
.company--row__layout {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 1300px) {
    .company--row__layout {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.company--row__side {
    position: relative;
    width: 100%;
    padding: 40px 20px;
}

@media (min-width: 768px) {
    .company--row__side {
        width: 50%;
    }
}

.company--row__side img {
    display: block;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
}

.company--row__side img.positioned {
    margin-bottom: -40px;
}

.centered {
    text-align: center;
}

.company--row__content {
    margin-bottom: 40px;
}

.company--row__content h2 {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
    position: relative;
    padding-bottom: 15px;
}

.company--row__content h2:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 5px;
    background: var(--main);
}

.company--row__content p {
    line-height: 1.4;
}
.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    overflow: hidden;
    background: #ffffffcf;
}

.loading-spinner {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 50%;
    margin-left: -30px;
    width: 100px;
    height: 100px;
}

.btn[disabled],
[disabled].btn--wrap {
    background: #ddd;
    box-shadow: none;
    color: #aaa;
    pointer-events: none;
    transition: all 100ms ease-out;
}

.arrow__sx {
    left: 0px;
    box-shadow: 7px 0 15px -9px rgba(0, 0, 0, 0.7);
}

.arrow__dx {
    right: 0px;
    box-shadow: -7px 0 15px -9px rgba(0, 0, 0, 0.7);
}
.main--wrap {
    opacity: 1;
    overflow-x: hidden;
    transition: opacity 250ms ease-in-out, padding-top 250ms;
    min-height: calc(100vh - 300px);
    padding-top: calc(30px + 70px);
}
.prodotti--wrap {
    margin-top: 0;
}

@media (min-width: 768px) {
    .prodotti--wrap {
        margin-top: 40px;
    }
}

.prodotti--layout {
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1300px) {
    .prodotti--layout {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.prodotti--tipo {
    border-bottom: 3px solid var(--main);
    margin-bottom: 50px;
}

.prodotti--tipo__layout {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1300px) {
    .prodotti--tipo__layout {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.prodotti--tipo__item {
    padding: 10px 0;
    color: #404040;
    text-align: center;
    cursor: pointer;
    width: calc(100% / 11);
}

.prodotti--tipo__item.selected {
    background: var(--main);
    color: #fff;
}

.prodotti--tipo__img {
    color: #404040;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-bottom: 6px;
}

.prodotti--tipo__txt {
    font-size: 10px;
    text-transform: uppercase;
}

.prodotti--index {
    display: flex;
    justify-content: space-between;
}

.prodotti--filtro {
    width: 300px;
}

.prodotti--filtro__title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 24px;
    padding-bottom: 18px;
    text-transform: uppercase;
    border-bottom: 2px solid var(--main);
    color: #777;
}

.prodotti--filtro__content {
    margin-bottom: 40px;
}

.prodotti--filtro__content label {
    display: block;
    margin-bottom: 10px;
}

.prodotti--results {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: calc(100% - 300px - 40px);
}

.prodotti--results__item {
    width: calc(100% / 4 - 20px);
    padding: 20px;
    border: 1px solid #eee;
}

.prodotti--results__item img {
    width: 100%;
    height: auto;
}

.prodotti--top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    .prodotti--top {
        margin-top: 60px;
    }
}

.prodotti--title {
    font-size: 2.5rem;
    font-weight: bold;
    border-bottom: 2px solid var(--main);
    margin-bottom: 40px;
    padding-bottom: 20px;
    width: 100%;
}

.prodotti--top__sx {
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-bottom: 40px;
}

@media (min-width: 1024px) {
    .prodotti--top__sx {
        width: calc(50% - 20px);
    }
}

.prodotti--top__dx {
    width: 100%;
}

@media (min-width: 1024px) {
    .prodotti--top__dx {
        width: calc(50% - 20px);
    }
}

.productsInfo--wrap {
    margin-bottom: 40px;
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.productsInfo--item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 15px;
    color: #777;
}

.productsInfo--item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
}

.productsInfo--label {
    text-transform: uppercase;
    color: #aaa;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
}

.productsInfo--pill {
    text-transform: uppercase;
}

.prodotti--compare {
    margin-bottom: 40px;
}

.prodotti--subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 14px;
    margin-bottom: 18px;
    text-transform: uppercase;
    border-bottom: 2px solid var(--main);
    color: #777;
    width: 100%;
    font-style: italic;
}

.productsFeatures--wrap {
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.productsFeatures--list {
    margin-bottom: 18px;
}

.productsFeatures--list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.productsFeatures--list li:before {
    content: "";
    display: inline-block;
    height: 9px;
    width: 9px;
    background-image: url("https://www.piusi-egypt.com/images/spunta-rossa.svg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 22px;
}

.productContent--wrap {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.productContent--sx {
    width: 100%;
}

@media (min-width: 768px) {
    .productContent--sx {
        width: calc(65% - 20px);
        margin-bottom: 0;
    }
}

.productContent--dx {
    margin-top: 40px;
    width: 100%;
}

@media (min-width: 768px) {
    .productContent--dx {
        margin-top: 0;
        width: calc(35% - 20px);
    }
}

.prodotti--descrizione {
    margin-bottom: 40px;
}

.prodotti--descrizione h1 {
    font-size: 24px;
    color: var(--main);
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.prodotti--descrizione h2 {
    font-size: 18px;
    font-weight: bold;
    color: #777;
    margin-bottom: 1rem;
}

.prodotti--descrizione p {
    margin-bottom: 1rem;
}

.prodotti--descrizione ul {
    padding-left: 17px;
}

.prodotti--descrizione ul li {
    line-height: 1.4;
}

.productDownloads--item {
    padding: 6px 5px 5px 7px;
    background: #eee;
    text-decoration: none;
    display: block;
    color: #404040;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.productDownloads--item:hover {
    background: var(--main);
    color: #fff;
    fill: #fff;
}

.productDownloads--txt {
    padding-right: 30px;
    word-break: break-all;
    flex: 1;
}

.productDownloads--item + .productDownloads--item {
    margin-top: 2px;
}

.prodotti--datitecnici {
    width: 100%;
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.prodotti--table__wrap {
    overflow-x: auto;
}

.prodotti--table__wrap table {
    width: 100%;
    min-width: 800px;
}

.prodotti--table__wrap th {
    background: #fff;
    font-weight: bold;
}

.prodotti--table__wrap tr:nth-child(odd) {
    background: #eee;
}

.prodotti--table__wrap td,
.prodotti--table__wrap th {
    text-align: left;
    padding: 20px 10px;
}

.productRel--wrap {
    margin-top: 40px;
}

.productRel--body {
    display: flex;
    flex-wrap: wrap;
}

.productRel--item {
    width: 100%;
    margin-bottom: 40px;
    text-decoration: none;
    text-align: center;
}

@media (min-width: 480px) {
    .productRel--item {
        width: calc(50% - 20px);
    }
}

@media (min-width: 768px) {
    .productRel--item {
        width: calc(100% / 3 - 20px);
    }
}

@media (min-width: 1024px) {
    .productRel--item {
        width: calc(25% - 20px);
    }
}

.productRel--title {
    color: var(--main);
    font-weight: bold;
    font-size: 13px;
}

body .lg-backdrop {
    z-index: 11000;
    background: #fff;
    box-shadow: inset 0px 0px 80px -20px rgba(0, 0, 0, 0.5);
}

body .lg-outer {
    z-index: 11010;
}

body .lg-toolbar {
    background: transparent;
}

body .lg-toolbar .lg-icon {
    color: #333;
}

body .lg-actions .lg-next,
body .lg-actions .lg-prev {
    background: transparent;
    color: #333;
}

body .lg-actions .lg-next:hover,
body .lg-actions .lg-prev:hover {
    color: #333;
}

.productManuals--item {
    padding: 6px 5px 5px 7px;
    background: #eee;
    text-decoration: none;
    display: block;
    color: #404040;
    text-transform: uppercase;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.productManuals--item:hover {
    background: var(--main);
    color: #fff;
    fill: #fff;
}

.productManuals--txt {
    padding-right: 30px;
    word-break: break-all;
    flex: 1;
}

.productManuals--item + .productManuals--item {
    margin-top: 2px;
}

.productManuals--link {
    color: #eee;
}

.productManuals--link:hover {
    color: var(--main);
}

.productManuals--th {
    border-bottom: 1px solid #eee;
    color: #777;
    padding-bottom: 2px;
    text-transform: uppercase;
    font-size: 11px;
    text-align: left;
    letter-spacing: 0.3px;
}

.productManuals--group {
    padding-bottom: 2px;
    padding-top: 12px;
    font-size: 14px;
    text-align: left;
    color: var(--main);
    font-style: italic;
    text-transform: uppercase;
    font-weight: bold;
}

.productManuals--td {
    vertical-align: middle;
    line-height: 1;
    padding-top: 4px;
    padding-bottom: 2px;
}

.productManuals--td a:hover path {
    stroke: var(--main);
}

.productGallery--wrap {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.productGallery--main {
    background: #fff;
    width: 100%;
}

.productGallery--mainLink {
    display: flex;
    align-items: center;
    height: 100%;
}

.productGallery--mainImage {
    width: 100%;
    height: auto;
    padding: 30px;
    outline: none !important;
}

.productGallery--nav__wrap {
    position: relative;
    padding: 0 30px;
    background: #eee;
    width: 100%;
}

@media (min-width: 768px) {
    .productGallery--nav__wrap {
        padding: 0 30px;
    }
}

.productGallery--nav {
    position: relative;
    background: #eee;
}

.next-gallerySlider,
.prev-gallerySlider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    font-weight: bold;
    color: #444;
    line-height: 1;
    cursor: pointer;
    opacity: 1;
    padding: 0 7px;
    transition: opacity 250ms ease-in-out;
}

.next-gallerySlider:hover,
.prev-gallerySlider:hover {
    color: #da2032;
}

.next-gallerySlider.slick-disabled,
.prev-gallerySlider.slick-disabled {
    pointer-events: none;
    opacity: 0.2;
}

@media (min-width: 768px) {
    .next-gallerySlider,
    .prev-gallerySlider {
        padding: 0 10px;
    }
}

.next-gallerySlider {
    right: 0px;
}

.prev-gallerySlider {
    left: 0px;
}

.productGallery--item {
    display: inline-block;
    width: 100px;
    height: 110px;
    background: #fff;
    margin: 20px 5px;
    padding: 5px;
    outline: none !important;
    cursor: pointer;
    box-shadow: 0 0 10px -4px #777;
    transition: 200ms box-shadow ease-out;
}

.productGallery--item:hover {
    box-shadow: 0 0 10px 0px #777;
}

.productGallery--item img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .productGallery--item {
        margin: 20px 10px;
        padding: 10px;
    }
}

.videoGallery--wrap {
    margin-top: 40px;
}

.videoGallery--body {
    display: flex;
}

.videoGallery--item + .videoGallery--item {
    margin-left: 15px;
}

.videoGallery--item {
    text-decoration: none;
    width: calc(50% - 15px);
}

@media (min-width: 768px) {
    .videoGallery--item {
        width: calc(33% - 15px);
    }
}

.videoGallery--img {
    vertical-align: top;
    box-shadow: 0 0 10px -4px #777;
    transition: 200ms box-shadow ease-out;
    margin-bottom: 5px;
}

.videoGallery--img:hover {
    box-shadow: 0 0 10px 0px #777;
}

.videoGallery--img img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.videoGallery--txt {
    color: #da2032;
    text-align: center;
}
.pxxForm--wrap {
    padding-bottom: 80px;
}

.pxxForm--layout {
    background: #fff;
    box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.pxxForm--txt {
    font-style: italic;
}

.pxxForm--body {
    padding: 30px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .pxxForm--row__2col {
        display: flex;
        justify-content: space-between;
    }

    .pxxForm--row__2col .pxxForm--control {
        width: calc(50% - 10px);
    }
}

@media (min-width: 768px) {
    .pxxForm--row__3col {
        display: flex;
        justify-content: space-between;
    }

    .pxxForm--row__3col .pxxForm--control {
        width: calc(33.3% - 10px);
    }
}

@media (min-width: 768px) {
    .pxxForm--row + .pxxForm--row {
        margin-top: 20px;
    }
}

.pxxForm--control {
    position: relative;
    padding-top: 15px;
}

@media (min-width: 768px) {
    .pxxForm--control {
        margin-top: 0px;
    }
}

.pxxForm--label {
    display: block;
    color: #999;
    pointer-events: none;
    font-size: 15px;
    letter-spacing: 0.3px;
    position: absolute;
    top: 0;
    left: 0;
}

.pxxForm--control__text .pxxForm--label {
    transform: translateY(20px);
}

.pxxForm--control__text .pxxForm--label__on {
    transition: all 150ms;
    font-size: 12px;
    transform: translateY(0);
}

.pxxForm--control__text .pxxForm--label__editing {
    transition: all 150ms;
    font-size: 12px;
    transform: translateY(0);
    color: #da2032;
}

.pxxForm--control__select .pxxForm--label {
    font-size: 12px;
}

.pxxForm--control__textarea .pxxForm--label {
    font-size: 12px;
}

.pxxForm--control__checkboxList .pxxForm--label {
    display: block;
    position: static;
    margin-bottom: 5px;
    font-size: 12px;
}

.pxxForm--checkboxList {
    display: flex;
    flex-wrap: wrap;
}

.pxxForm--checkboxList label {
    margin: 0;
    padding: 0;
    margin-right: 12px;
    white-space: nowrap;
}

.pxxForm--checkboxList input {
    margin: 0 1px 0 0;
    padding: 0;
}

.pxxForm--control__file .pxxForm--label {
    font-size: 12px;
    margin-bottom: 10px;
    position: static;
}

.pxxForm--control__disabled {
    opacity: 0.4;
    pointer-events: none;
}

.pxxForm--input,
.pxxForm--textarea,
.pxxForm--select,
.pxxForm--text {
    font-size: 16px;
    font-family: "Neutra", "Trebuchet MS", Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #444;
    padding-top: 5px;
    padding-bottom: 4px;
    background: transparent;
    outline: none;
}

.pxxForm--text {
    border: none;
    border-bottom: 1px solid #999;
}

.pxxForm--text:focus {
    border-bottom: 1px solid #da2032;
    box-shadow: 0 1px 0 #da2032;
}

.pxxForm--checkbox {
    margin: 0 8px 0 0;
}

.pxxForm--select {
    border: none;
    border-bottom: 1px solid #999;
}

.pxxForm--select:focus {
    border-bottom: 1px solid #da2032;
    box-shadow: 0 1px 0 #da2032;
}

.pxxForm--textarea {
    border: none;
    border-bottom: 1px solid #999;
}

.pxxForm--textarea:focus {
    border-bottom: 1px solid #da2032;
    box-shadow: 0 1px 0 #da2032;
}

.pxxForm--privacy {
    margin-bottom: 20px;
    font-size: 14px;
}

.pxxForm--privacy label {
    display: block;
}

.pxxForm--privacy p {
    display: inline;
}

.pxxForm--privacyLabel input {
    margin-left: 0px;
    margin-right: 5px;
}

.pxxForm--privacyLabel + .pxxForm--privacyLabel {
    margin-top: 0.5rem;
}

.pxxForm--submit {
    text-align: center;
}

.pxxForm--altHead {
    text-align: center;
    padding: 15px 30px;
    background: #f6f6f6;
    color: #da2032;
    font-size: 18px;
    text-transform: uppercase;
    font-style: italic;
}

.fakecheckbox--wrap {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.fakecheckbox--wrap + .fakecheckbox--wrap {
    margin-top: 1rem;
}

.fakecheckbox--tick {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    background: #fff;
    margin-right: 10px;
}

.fakecheckbox--tick svg {
    width: 100%;
    height: 100%;
    display: block;
    fill: none;
}

.fakecheckbox--wrap__on {
    font-weight: bold;
    color: #da2032;
}

.fakecheckbox--wrap__on .fakecheckbox--tick {
    background: #da2032;
}

.fakecheckbox--wrap__on .fakecheckbox--tick svg {
    fill: #fff;
}

.pxxvalidate--err {
    color: #da2032;
    font-weight: bold;
    margin-top: 3px;
    font-size: 13px;
}

.pxxForm--msg {
    color: #da2032;
    font-weight: bold;
    margin-top: 3px;
    font-size: 13px;
}

.pxxForm--body {
    position: relative;
    overflow: hidden;
}

.pxxForm--loader {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateX(100%);
    opacity: 0;
}

.pxxForm--loader__on {
    opacity: 1;
    transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(0);
}

.pxxForm--response {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.pxxForm--completesvg svg {
    width: 40px;
    height: auto;
    fill: #da2032;
}

.autoriempi {
    background: #555;
    color: #eee;
    margin: 1rem 0 0 0;
    padding: 5px 5px 4px 5px;
    font-size: 10px;
    letter-spacing: 1px;
    display: inline-block;
    cursor: pointer;
}

.autoriempi:hover {
    background: #da2032;
}

.pxxForm--back {
    color: #da2032;
    margin-top: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.pxxForm--separator {
    text-align: center;
    color: #999;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.pxxForm--row + .pxxForm--separator {
    margin-top: 2.4rem;
}

.customerCode {
    font-size: 13px;
    padding-top: 10px;
    cursor: pointer;
}

.customerCode:hover {
    color: #da2032;
}
